name: Rust Build

on:
  push:
    branches: [ master ]

jobs:
  compile:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: System deps
      run: |
        sudo apt update
        sudo apt install -y build-essential pkg-config libssl-dev gcc-x86-64-linux-gnu
        which gcc
        gcc --version
        which x86_64-linux-gnu-gcc || echo "x86_64-linux-gnu-gcc not found, using gcc"
    
    - name: Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Compile
      run: cargo build --release --verbose
    
    - name: Save
      uses: actions/upload-artifact@v4
      with:
        name: binary
        path: target/release/kucoin-ultimate-trading-bot
