name: Rust Build

on:
  push:
    branches: [ master ]

jobs:
  compile:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: System deps
      run: |
        sudo apt update
        sudo apt install -y build-essential pkg-config libssl-dev
        gcc --version
    
    - name: Rust
      uses: dtolnay/rust-toolchain@stable
    
    - name: Compile
      run: cargo build --release --verbose
      env:
        CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_LINKER: gcc
    
    - name: Save
      uses: actions/upload-artifact@v4
      with:
        name: binary
        path: target/release/kucoin-ultimate-trading-bot
